<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Barebones Blog</title>



    <link rel="stylesheet" href="css/style.css">


</head>

<body>

    <div id="wrapper" class="index">
        <div id="titlebar">
            <span>Barebones Blog</span>
        </div>

        <div id="intro">
            <img class="" id="profilepic" src="assets/skeleton_pic.png" />
            <p>Barebones blog template. </p>
            <p>Introductory text. Source code repo: <a href="https://github.com/Zedelghem/pystatic">https://github.com/Zedelghem/pystatic</a>. This is just a bare bones template for a static website generator.</p>
        </div>

        <!--###POSTS_LIST###-->

        <div class="footer_proper">
            <small>Barebones Blog | By <a href="../about.html">A. Ghost</a> © 2018</small>
        </div>
    </div>



</body>

</html>