<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>'90s blog</title>
  
  
  
      <link rel="stylesheet" href="../css/style.css">

  
</head>

<body>

  <div id="wrapper" class="post">
<div id="titlebar">
    <span><a href="../index.html">najntisy itp.</a></span>
</div>
  
<!--###POST_CONTENT###-->
      
   <div class="footer_back"><a href="../index.html">
  <-- do spisu treści
      </a></div>
  <div class="footer_proper">
      <small>Dat '90s blog | Zrobił <a href="../about.html">boro93</a> © 2018</small>
  </div>
</div>
  
  

</body>

</html>
