<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Katie's blog</title>



    <link rel="stylesheet" href="../css/style.css">

    <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = http://eksfilozof.pl;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document,
                s = d.createElement('script');
            s.src = 'https://eksfilozof.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</head>

<body>

    <div id="wrapper" class="post">
        <div id="titlebar">
            <span><a href="../index.html">Katie's blog</a></span>
        </div>

        <div id="intro">
            <img class="infrared-effect" id="profilepic" src="../assets/katie_pic.jpeg" />
            <p>Howdy, I'm Katie. Katie Sanchez. I write code and talk to people about it. I like big vanilla lattes, vegan ramen, and monster truck shows gone wrong.</p>
            <p>You can find my CV at LinkedIn, my projects at GitHub, and myself in Santa Fe, CA. If you like anything about this blog, don't hesitate to let my good old and a bit nerdy creator know at <a href="https://github.com/Zedelghem/pystatic">https://github.com/Zedelghem/pystatic</a>.
                Oh, and by the way, I am not real. This is just a default template for a static website generator.</p>
        </div>

        <!--###POST_CONTENT###-->

        <div class="footer_back">
            <a href="../index.html">
                <-- back to index </a>
        </div>

        <div id="comments">
            <div id="disqus_thread"></div>
        </div>

        <div class="footer_proper">
            <small>Katie's blog | By <a href="../about.html">Katie</a> © 2018</small>
        </div>
    </div>



</body>

</html>